* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

header,
footer {
  border: solid black;
  background-color: rgb(94, 190, 228);

  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

nav {
  background-color: rgb(190, 143, 235);
  border: solid black;

  text-align: center;
  text-size-adjust: auto;
  flex: 1;
}

li.list {
  text-align: left;
}

article {
  border: solid black;
  background-color: rgb(245, 206, 174);

  text-align: center;
  flex: 3;
}

p {
  text-align: justify;
}

aside {
  border: solid black;
  background-color: rgb(190, 143, 235);

  font-size: 3rem;
  text-align: center;
  flex: 1;
}

.title {
  font-size: xx-large;
  padding: 3rem;
}

@media all and (max-width: 550px) {
  main {
    flex-direction: column;
  }
}
